<div>
    <input class="form-check-input" type="checkbox" value="Room" id="Room" name="category">
    <label class="form-check-label" for="Room">
        <i class="fa-solid fa-bed"></i>
        Room
    </label>
</div>

<div>
    <input name="category" class="form-check-input" type="checkbox" value="Farm" id=" Farm">
    <i class="fa-solid fa-tractor"></i>
    <label class="form-check-label" for=" Farm">
        Farm
    </label>
</div>

<div>
    <input name="category" class="form-check-input" type="checkbox" value="Lake" id="Lake">
    <i class="fa-solid fa-water"></i>
    <label class="form-check-label" for="Lake">
        Lake
    </label>
</div>

<div>
    <input name="category" class="form-check-input" type="checkbox" value="Tropical" id=" Tropical">
    <i class="fa-solid fa-tree"></i>
    <label class="form-check-label" for="Tropical">
        Tropical
    </label>
</div>

<div>
    <input name="category" class="form-check-input" type="checkbox" value="Castle" id="Castle">
    <i class="fa-brands fa-fort-awesome"></i>
    <label class="form-check-label" for="Castle">
        Castle
    </label>
</div>


<div>
    <input name="category" class="form-check-input" type="checkbox" value="Beach" id="Beach">
    <i class="fa-solid fa-umbrella-beach"></i>
    <label class="form-check-label" for="Beach">
        Beach
    </label>
</div>


<div>
    <input name="category" class="form-check-input" type="checkbox" value="Island" id="Island">
    <img src="https://a0.muscache.com/pictures/8e507f16-4943-4be9-b707-59bd38d56309.jpg"
        width="24px" alt="">
    <label class="form-check-label" for="Island">
        Island
    </label>
</div>

<div>
    <input name="category" class="form-check-input" type="checkbox" value="Historical Home"
        id="Historical Home">
    <i class="ri-ancient-gate-fill"></i>
    <label class="form-check-label" for="Historical Home">
        Historical Home
    </label>
</div>

<div>
    <input name="category" class="form-check-input" type="checkbox" value="Arctic" id="Arctic">
    <i class="fa-solid fa-snowflake"></i>
    <label class="form-check-label" for="Arctic">
        Arctic
    </label>
</div>


<div>
    <input name="category" class="form-check-input" type="checkbox" value="Trending" id="Trending">
    <i class="fa-solid fa-fire"></i>
    <label class="form-check-label" for="Trending">
        Trending
    </label>
</div>


<div>
    <input name="category" class="form-check-input" type="checkbox" value="Desert" id="Desert">
    <i class="ri-cactus-fill"></i>
    <label class="form-check-label" for="Desert">
        Desert
    </label>
</div>