<link rel="stylesheet" href="/styles/filter.css">

<div class="filters">
    <div class="part1">
        <div onclick="filter('Trending')">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div onclick="filter('Room')">
            <i class="fa-solid fa-bed"></i>
            <p>Room</p>
        </div>

        <div onclick="filter('Farm')">
            <i class="fa-solid fa-tractor"></i>
            <p>Farm</p>
        </div>


        <div onclick="filter('Lake')">
            <i class="fa-solid fa-water"></i>
            <p>Lake</p>
        </div>


        <div onclick="filter('Tropical')">
            <i class="fa-solid fa-tree"></i>
            <p>Tropical</p>
        </div>


        <div onclick="filter('Castle')">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castle</p>
        </div>


        <div onclick="filter('Beach')">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
        </div>


        <div onclick="filter('Island')">
            <img src="https://a0.muscache.com/pictures/8e507f16-4943-4be9-b707-59bd38d56309.jpg" width="25px"
                alt="island">
            <p>Island</p>
        </div>

        <div onclick="filter('Historical')">
            <img src="https://a0.muscache.com/pictures/33dd714a-7b4a-4654-aaf0-f58ea887a688.jpg" width="25px" alt="his">
            <p>Historical</p>
        </div>

        <div onclick="filter('Arctic')">
            <i class="fa-solid fa-snowflake"></i>
            <p>Arctic</p>
        </div>



        <div onclick="filter('Desert')">
            <i class="ri-cactus-fill"></i>
            <p>Desert</p>
        </div>

    </div>
    <div class="part2">

        <div class="form-check-reverse form-switch">
            <input class="form-check-input taxSwitch" onchange="change()" type="checkbox" role="switch"
                id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes
            </label>
        </div>

    </div>
</div>