<div id="footer">

    <footer>
        <div id="part1">
            
            <div>
                <span<span>&copy;</span>2024 Airbnb , Inc</span>
            </div>
            <div>
                <ul>
                    <li>privacy</li>
                    <li>Terms</li>
                    <li>Sitemap</li>
                    <li>Company details</li>
                </ul>
            </div>
        </div>
        <div id="part2">
            <div>
                <span>English</span>
            </div>
            <div>INR</div>
            <div>
                logos
            </div>
        </div>
    </footer>
</div>