<style>
    .container-not-found{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: gray;
    }
</style>

<% layout('/layouts/boilerPlate.ejs') %>

    <div class="container-not-found">
        <h1 class="page">404</h1>
        <p><%= msg %></p>
    </div>