<link rel="stylesheet" href="/styles/review.css">

<h2 class="feed-h2">Give your feedback</h2>
<form action="<%=list._id%>/reviews" novalidate method="post" class="from-control needs-validation">
    <div class="forRates">
        <fieldset class="starability-fade">
            <legend >Rating </legend>
            <input type="radio"
                id="no-rate" class="input-no-rate" name="rating" value="1" checked
                aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
    </div>
    <div id="comment">
        <div class="form-floating">
            <textarea name="comment" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                required></textarea>
            <label for="floatingTextarea">Comments</label>
            <div class="invalid-feedback">Enter valid comment</div>
        </div>
    </div>
    <button class="btn btn-primary post-review" type="submit">Post</button>
</form>
